<thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Ciudad</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>001</td>
                    <td>Camila Andrade</td>
                    <td>camila.andrade@gmail.com</td>
                    <td>0987654321</td>
                    <td>Quito</td>
                </tr>

                <tr>
                    <td>002</td>
                    <td>Valentina Torres</td>
                    <td>valentina.torres@gmail.com</td>
                    <td>0998765432</td>
                    <td>Guayaquil</td>
                </tr>

                <tr>
                    <td>003</td>
                    <td>Sofía Mendoza</td>
                    <td>sofia.mendoza@gmail.com</td>
                    <td>0976543210</td>
                    <td>Cuenca</td>
                </tr>

                <tr>
                    <td>004</td>
                    <td>Daniela Cárdenas</td>
                    <td>daniela.cardenas@gmail.com</td>
                    <td>0965432109</td>
                    <td>Ambato</td>
                </tr>

            </tbody>

        </table>

    </div>

</section>

{% endblock %}