{% extends "base.html" %}

{% block title %}Girls - Productos{% endblock %}

{% block content %}

<section class="container my-5">

    <h1 class="text-center mb-4" style="color:#c44a87;">
        Nuestros Productos
    </h1>

    <p class="text-center mb-5">
        Conoce algunos de los productos disponibles en Girls.
    </p>

    <div class="row">

        {% for producto in productos %}

        <div class="col-md-4 mb-4">

            <div class="card h-100 shadow-sm">

                <div class="card-body text-center">

                    <h5 class="card-title">
                        {{ producto.nombre|upper }}
                    </h5>

                    <p class="card-text">
                        Categoría: {{ producto.categoria }}
                    </p>

                    <h5 class="mt-3">
                        ${{ producto.precio }}
                    </h5>

                    <p class="mt-3">
                        Stock: {{ producto.stock }}
                    </p>

                    {% if producto.stock > 0 %}

                        <span class="badge bg-success">
                            Disponible
                        </span>

                    {% else %}

                        <span class="badge bg-danger">
                            Agotado
                        </span>

                    {% endif %}

                </div>

            </div>

        </div>

        {% endfor %}

    </div>

</section>

{% endblock %}